.navbar {
    width: 100%;
    background-color: #fff; /* Navbar background color */
    padding: 16px; /* Adjust padding as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Minimal bottom shadow */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .heading-3,.navbar .paragraph{
    margin-bottom: 0;
}
